<div class="main-container">
  <h2>Location Details</h2>

  <div class="top-bar">
    <div class="dropdowns">
      <label>State:</label>
      <div class="dropdown-with-icon">
        <ng-select
          [items]="states"
          bindLabel="state_name"
          bindValue="state_id"
          [placeholder]="selectedStateId ? '' : 'Select State'"
          [(ngModel)]="selectedStateId"
          [ngModelOptions]="{ standalone: true }"
          (change)="onStateChange()"
          [clearable]="true"
          [searchable]="true"
          [hideSelected]="true"
          [closeOnSelect]="true"
        ></ng-select>
        <span class="dropdown-arrow">&#9662;</span>
      </div>

      <label>City:</label>
      <div class="dropdown-with-icon">
        <ng-select
          [items]="cities"
          bindLabel="city_name"
          bindValue="city_id"
          [placeholder]="selectedCityId ? '' : 'Select City'"
          [(ngModel)]="selectedCityId"
          [ngModelOptions]="{ standalone: true }"
          (change)="onCityChange()"
          [clearable]="true"
          [searchable]="true"
          [hideSelected]="true"
          [closeOnSelect]="true"
        ></ng-select>
        <span class="dropdown-arrow">&#9662;</span>
      </div>
    </div>

    <div class="actions">
      <!-- 🔍 Search bar -->
      <div class="search-container">
        <i class="fa fa-search search-icon"></i>
        <input
          type="text"
          class="form-control form-control-sm search-box"
          placeholder="Search"
          [(ngModel)]="searchText"
          (input)="onSearchChange()"
        />
      </div>
      <button class="btn btn-primary btn-sm" (click)="openAddModal()">
        + Add Location
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Location Name</th>
        <th>Pin Code</th>
        <th>City</th>
        <th>State</th>
        <!-- <th>Added By</th> -->
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loc of filteredLocations">
        <td>{{ loc.location_Uid }}</td>
        <td>{{ loc.location_name }}</td>
        <td>{{ loc.pincode }}</td>
        <td>{{ loc.city_name }}</td>
        <td>{{ loc.state_name }}</td>
        <!-- <td>{{ loc.added_by }}</td> -->
        <td>{{ loc.status }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Add Location Modal -->
  <div class="modal-backdrop" *ngIf="showAddModal">
    <div class="modal">
      <h3>Add Location</h3>

      <label>State:</label>
      <ng-select
        [items]="states"
        bindLabel="state_name"
        bindValue="state_id"
        [placeholder]="addStateId ? '' : 'Select State'"
        [(ngModel)]="addStateId"
        [ngModelOptions]="{ standalone: true }"
        (change)="onAddStateChange()"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>

      <label>City:</label>
      <ng-select
        [items]="cities"
        bindLabel="city_name"
        bindValue="city_id"
        [placeholder]="addCityId ? '' : 'Select City'"
        [(ngModel)]="addCityId"
        [ngModelOptions]="{ standalone: true }"
        [clearable]="true"
        [searchable]="true"
      ></ng-select>

      <label>Pincode :</label>
      <input type="text" [(ngModel)]="addPincode" />

      <label>Location Name:</label>
      <input type="text" [(ngModel)]="addLocationName" />

      <div class="modal-actions">
        <button class="btn btn-sm btn-success" (click)="addLocation()">
          Save
        </button>
        <button class="btn btn-sm btn-secondary" (click)="closeAddModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>


