<div class="sidebar" [class.collapsed]="isCollapsed">

  <button class="toggle-btn" (click)="toggleSidebar()">
    {{ isCollapsed ? '☰' : '✖' }}
  </button>


  <ul class="menu">
    <li *ngIf="loading">Loading menu...</li>
    <li *ngIf="error" class="error">{{ error }}</li>

    <ng-container *ngFor="let g of groupedMenus">
      <li class="group-title" (click)="toggleGroup(g.idKey)">
        <span>{{ expanded.has(g.idKey) ? '▼' : '►' }}</span>
        <span *ngIf="!isCollapsed">{{ g.name }}</span>
      </li>

      <ng-container *ngIf="expanded.has(g.idKey)">
        <li
*ngFor="let m of g.items"
class="menu-item"
(click)="onMenuClick(m)"
>
          <span *ngIf="!isCollapsed">•</span>
          <span class="text">
            {{ m.menu_Name || m.Menu_Name || m.MenuName || m.Menu }}
          </span>
        </li>        
      </ng-container>
    </ng-container>
  </ul>

  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
